.ant-menu-submenu:hover {
  color: #ECF0F1;
}

.ant-menu-horizontal {
  border-bottom: 0px !important;
}

.ant-layout-header {
  line-height: 25px !important;
}

.ant-menu-vertical {
  border-inline-end: 0px !important;
}