.wrapper {
  height: 350px;
}

.sliderContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.button {
  width: 100%;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 4px;
}

.category {
  padding: 20px;
  background-color: rgba(34, 38, 41, 0.08);
  border: 1px solid #61892F;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #ECF0F1;
}

.categoryTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.categoryContent {
  font-size: 16px;
  line-height: 1.5;
}

.list {
  padding-left: 20px;
  list-style-type: disc;
}

.listItem {
  margin-bottom: 10px;
}

@media (max-width: 1224px) {
  .button {
    width: 100%;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 12px;
  }
}